<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Part_1_Level_1</key>
	<dict>
		<key>Sprite_Jailer_1</key>
		<dict>
			<key>startTime</key>
			<integer>0</integer>
			<key>endTime</key>
			<integer>100</integer>
			<key>tag</key>
			<real>3001</real>
		</dict>
		<key>Sprite_Jailer_2</key>
		<dict>
			<key>startTime</key>
			<integer>100</integer>
			<key>endTime</key>
			<integer>200</integer>
			<key>tag</key>
			<real>3002</real>
		</dict>
		<key>Sprite_Mouse_1</key>
		<dict>
			<key>startTime</key>
			<integer>200</integer>
			<key>endTime</key>
			<integer>250</integer>
			<key>tag</key>
			<real>2001</real>
		</dict>
	</dict>
</dict>
</plist>
